{{ define "view/scene" }}

<li id="sceneNav" class="is-active" hx-swap-oob="true"><a hx-get="view/scene">Scene Editor</a></li>

<form>
  <div class="is-flex is-align-items-center">
    <div class="field pr-4">
      <label class="label">Width</label>
      <div class="select">
        <select name="width">
          <option>50</option>
          <option>100</option>
          <option>200</option>
          <option>320</option>
          <option>640</option>
          <option selected>800</option>
          <option>1024</option>
          <option>1280</option>
          <option>1600</option>
          <option>1920</option>
          <option>2560</option>
          <option>3440</option>
        </select>
      </div>
    </div>

    <div class="field pr-4">
      <label class="label">Aspect Ratio</label>
      <div class="select">
        <select name="aspect">
          <option value="1">1:1</option>
          <option value="1.33333">4:3</option>
          <option selected value="1.77777">16:9</option>
          <option value="2.33333">21:9</option>
        </select>
      </div>
    </div>

    <div class="field pr-4">
      <label class="label">Samples</label>
      <div class="is-flex">
      <div class="input" name="samples">
        <input name="samples" type="range" min="1" max="500" value="20" oninput="document.querySelector('#samplesNum').value=this.value"/>
      </div>
      <input class="input" name="samples" disabled style="width: 3.2rem;" id="samplesNum" value="20"/>
    </div>
    </div>

    <div class="field pr-4">
      <label class="label">&nbsp;</label>
      <div class="control">
        <button id="startBtn" class="button is-primary mb-4" hx-post="api/render" hx-swap="none" hx-on:click="clearError(); this.disabled = true">Render</button>
      </div>
    </div>
  </div>
 
  <input type="hidden" name="sceneData" value="">
</form>

<div id="monaco" style="height: 25vh"></div>

<script>
  require.config({ paths: { 'vs': '/monaco/min/vs' }});
  
  require(['vs/editor/editor.main'], function() {
    var editor = monaco.editor.create(document.getElementById('monaco'), {
      value: localStorage.getItem('sceneText') || 'objects:\n  - type: sphere\n    position: [0, 0, -50]\n    radius: 20\n    colour: [1,0,0]',
      theme: 'vs-dark',
      language: 'yaml',
      minimap: {
        enabled: false
      },
      automaticLayout: true
    });

    editor.onDidChangeModelContent(() => {
      localStorage.setItem('sceneText', editor.getValue());
      $('input[name=sceneData]').value = editor.getValue();
    });

    editor.focus();

    $('input[name=sceneData]').value = editor.getValue();
  });
</script>

<div id="progress">
</div>

<div id="output">
</div>

{{ end }}
