{{ define "view/scene" }}

<li id="sceneNav" class="is-active" hx-swap-oob="true"><a hx-get="view/scene">Scene Editor</a></li>

<form>
  <div class="is-flex is-align-items-center">
    <div class="field pr-4">
      <label class="label">Width</label>
      <div class="select">
        <select name="width">
          <option>50</option>
          <option>100</option>
          <option>200</option>
          <option>320</option>
          <option>640</option>
          <option selected>800</option>
          <option>1024</option>
          <option>1280</option>
          <option>1600</option>
          <option>1920</option>
          <option>2560</option>
          <option>3440</option>
        </select>
      </div>
    </div>

    <div class="field pr-4">
      <label class="label">Aspect Ratio</label>
      <div class="select">
        <select name="aspect">
          <option value="1">1:1</option>
          <option value="1.33333">4:3</option>
          <option selected value="1.77777">16:9</option>
          <option value="2.33333">21:9</option>
        </select>
      </div>
    </div>

    <div class="field pr-4">
      <label class="label">Max Depth</label>
      <div class="select">
        <select name="depth">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4" selected>4</option>
          <option value="5">5</option>
          <option value="8">8</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
        </select>
      </div>
    </div>

    <div class="field pr-4">
      <label class="label">Slices</label>
      <div class="select">
        <select name="slices">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="4">4</option>
          <option value="8" selected>8</option>
          <option value="16">16</option>
          <option value="24">24</option>
          <option value="32">32</option>
          <option value="48">48</option>
          <option value="64">64</option>
          <option value="128">128</option>
        </select>
      </div>
    </div>

    <div class="field pr-4">
      <label class="label">Samples</label>
      <div class="is-flex">
      <div class="input" name="samples">
        <input name="samples" type="range" min="1" max="2000" value="20" oninput="document.querySelector('#samplesNum').value=this.value"/>
      </div>
      <input class="input" name="samples" disabled style="width: 3.2rem;" id="samplesNum" value="20"/>
    </div>
    </div>

    <div class="field pr-4">
      <label class="label">&nbsp;</label>
      <div class="control">
        <button id="startBtn" class="button is-primary mb-4" hx-post="api/render" hx-swap="none">Render</button>
      </div>
    </div>
  </div>
 
  <input type="hidden" name="sceneData" value="">
</form>


<div id="monaco" style="height: 25vh"></div>

<script>
  defaultScene = `name: Simple Test
background: [0.7, 0.7, 0.8]

camera:
  position: [0, 13, 0]
  lookAt: [0, 0, -40]
  fov: 40
  focalDist: 30
  aperture: 1.4

objects:
  - type: sphere
    position: [0, 10, -30]
    radius: 10
    material:
      diffuse:
        albedo: [0.95, 0.1, 0.1]

  - type: sphere
    position: [0, -9000000, 0]
    radius: 9000000
    material:
      diffuse:
        albedo: [0.7, 0.7, 0.7]
  `

  require.config({ paths: { 'vs': '/monaco/min/vs' }});
  
  require(['vs/editor/editor.main'], function() {
    var editor = monaco.editor.create(document.getElementById('monaco'), {
      value: localStorage.getItem('sceneText') || defaultScene,
      theme: 'vs-dark',
      language: 'yaml',
      minimap: {
        enabled: false
      },
      automaticLayout: true
    });

    editor.onDidChangeModelContent(() => {
      localStorage.setItem('sceneText', editor.getValue());
      $('input[name=sceneData]').value = editor.getValue();
    });

    editor.focus();

    $('input[name=sceneData]').value = editor.getValue();
  });
</script>

<!-- We call this on load in case a render is already in progress -->
<div id="progress" hx-get="api/render/progress" hx-trigger="load">
</div>

<div id="output">
</div>

{{ end }}
